{:init-schema {:person/id {:db/valueType :db.type/long
                           :db/cardinality :db.cardinality/one
                           :db/unique :db.unique/identity}

               :person/name {:db/valueType :db.type/string
                             :db/cardinality :db.cardinality/one}

               :person/accounts {:db/valueType :db.type/ref
                                 :db/cardinality :db.cardinality/many}

               :account/uuid {:db/valueType :db.type/uuid
                              :db/cardinality :db.cardinality/one
                              :db/unique :db.unique/identity}

               :account/amount {:db/valueType :db.type/bigdec
                                :db/cardinality :db.cardinality/one}}

 :init-data [{:db/id 1001
              :person/id 1
              :person/name "Ivan"
              :person/accounts [2001 2003]}

             {:db/id 2001
              :account/uuid #uuid "00000000-0000-0000-0000-000000000001"
              :account/amount 5000.00M}

             {:db/id 1002
              :person/id 2
              :person/name "Maria"
              :person/accounts [2002 2004]}

             {:db/id 2002
              :account/uuid #uuid "00000000-0000-0000-0000-000000000002"
              :account/amount 5000.00M}

             {:db/id 2003
              :account/uuid #uuid "00000000-0000-0000-0000-000000000003"
              :account/amount 5000.00M}

             {:db/id 2004
              :account/uuid #uuid "00000000-0000-0000-0000-000000000004"
              :account/amount 2222.77M}]

 :init-kv [[#uuid "00000000-0000-0000-0001-000000000000"
            #time/instant "1980-01-01T00:00:01.000-00:00"]

           [#uuid "00000000-0000-0000-0002-000000000000"
            #time/instant "1980-01-01T00:00:02.000-00:00"]

           [#uuid "00000000-0000-0000-0003-000000000000"
            #time/instant "1980-01-01T00:00:03.000-00:00"]]

 :exp-schema {:person/id {:db/valueType :db.type/long
                          :db/cardinality :db.cardinality/one
                          :db/unique :db.unique/identity}

              :person/name {:db/valueType :db.type/string
                            :db/cardinality :db.cardinality/one}

              :person/accounts {:db/valueType :db.type/ref
                                :db/cardinality :db.cardinality/many}

              :account/uuid {:db/valueType :db.type/uuid
                             :db/cardinality :db.cardinality/one
                             :db/unique :db.unique/identity}

              :account/amount {:db/valueType :db.type/bigdec
                               :db/cardinality :db.cardinality/one}}

 :exp-data [{:db/id 1001
             :person/id 1
             :person/name "Ivan"
             :person/accounts [{:db/id 2001} {:db/id 2003}]}

            {:db/id 2001
             :account/uuid #uuid "00000000-0000-0000-0000-000000000001"
             :account/amount 5000.00M}

            {:db/id 1002
             :person/id 2
             :person/name "Maria"
             :person/accounts [{:db/id 2002} {:db/id 2004}]}

            {:db/id 2002
             :account/uuid #uuid "00000000-0000-0000-0000-000000000002"
             :account/amount 5000.00M}

            {:db/id 2003
             :account/uuid #uuid "00000000-0000-0000-0000-000000000003"
             :account/amount 5000.00M}

            {:db/id 2004
             :account/uuid #uuid "00000000-0000-0000-0000-000000000004"
             :account/amount 2222.77M}]

 :exp-kv [[#uuid "00000000-0000-0000-0001-000000000000"
           #time/instant "1980-01-01T00:00:01.000-00:00"]

          [#uuid "00000000-0000-0000-0002-000000000000"
           #time/instant "1980-01-01T00:00:02.000-00:00"]

          [#uuid "00000000-0000-0000-0003-000000000000"
           #time/instant "1980-01-01T00:00:03.000-00:00"]]}
